body{
    background-color:lightblue;
    font-size: 18px;
    font-family:Calibri;
    text-transform: uppercase;
    )
ul(
    font-size: 25px;
    background-color:light blue;
    text-color:black;
)